<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	

	<body>


		<%- body -%>
		
		<% include ./partials/jsOnly %>
		<% include ./partials/footer %>
	</body>
</html>