.vertical-center {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	background-color: gray;
}

.well{
	border-radius: 50px 5px 50px 5px;
	text-align: center;
	border: solid 2px #e27e36;
	box-shadow: 10px 10px 30px black;

}

#title{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#subtext{
	margin-top:20px;
}

h1{
color: #e27e36;
}
p, h4, h1{
	text-align: center;
}

p {
color: red;
font-weight: bold;

}

