<% layout('layout') -%>



<div class="vertical-center">
	<div class="container">
	
		<div class="row">
		<div  id="title">
			<h1>Company Name</h1>
		</div>

			<div class="col-md-4 col-md-offset-4 well">

				<% if (errors.length > 0) { %>
				<p> <%= errors %> </p>
				<% } %>

				<form method="POST">
					<h4>Create your account</h4>
						<div class="form-group">
							<!-- <label="name">Name: </label> -->
							<input type="text" class="form-control" name="name" placeholder="Name">
						</div>

						<div class="form-group">
							<!-- <label="email">Email: </label> -->
							<input type="email" class="form-control" name="email" placeholder="Email">
						</div>

						<div class="form-group">
							<!-- <label="password">Password: </label> -->
							<input type="password" class="form-control" name="password" placeholder="Password">		
						</div>

						<button type="submit" class="btn btn-success">Create your account</button>
				</form>
				<div id="subtext">
					<a href='/login'><p>...or login if you have an account</p></a>
				</div>		
			</div>
		</div>	
	</div>
</div>

